target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.log
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.idea
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.metadata

*.swp
*~
.DS_Store
Thumbs.db

application-*.properties
!application.properties

*.orig
*.rej

hs_err_pid*
